.about {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.1)
    ),
    url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2370&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  height: 170vh;
  font-size: 25px;
  font-weight: bold;
  font-family: Arial Narrow, sans-serif;
}

.textbox {
  max-width: 1000px;
  background-color: rgb(255, 255, 255, 0.8);
  text-align: center;
  margin: auto;
  width: 60%;
  height: 150vh;
  padding: 10px;
  border-radius: 30px;
  margin-bottom: 0;
}
.leftz {
  text-align: left;
  width: 100%;
}
.cursive {
  font-family: "Bebas Neue", cursive;
}
